@import 'tailwindcss';
@import '@repo/ui/styles.css';
@import '@repo/tailwind-config';

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--color-text-base);
}

input::selection {
  @apply bg-(--color-primary) text-white;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}