@import 'tailwindcss';
@import '@repo/ui/styles.css';

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--color-text-base);
}